# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

.python-version